/*  SECTIONS  */
.rhd-section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.rhd-col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
  background-color: #fff;
}
.rhd-col:first-child { margin-left: 0; }


/*  GROUPING  */
.rhd-group:before,
.rhd-group:after {
	content:"";
	display:table;
}
.rhd-group:after {
	clear:both;
}
.rhd-group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.rhd_span_3_of_3, .rhd_span_2_of_2 {
	width: 100%;
}
.rhd_span_1_of_2 {
	width: 46.2%;
}
.rhd_span_2_of_3 {
	width: 66.1%;
}
.rhd_span_1_of_3 {
	width: 32.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 768px) {
	.rhd-col { margin: 1% 0 1% 0%;}
	.rhd_span_2_of_2, .rhd_span_1_of_2, .rhd_span_3_of_3, .rhd_span_2_of_3, .rhd_span_1_of_3 { width: 100% ; }
}
.rhd-help-text {
    display: block;
    font-size: 12px;
    color: gray;
    font-style: italic;
    margin-top: 2px;
    margin-bottom: 2px;
}
.rhd-help-doc li {
  list-style-type: square;
  margin-left: 30px;
  font-size: 14px;
}
.rhd-section p{
	font-size: 14px;
}
div#log-rhd-row{
  min-height: 100px; 
}
div#log-rhd-row, #rhd-loading-bar, #log-rhd-section {
    font-size: 14px;
}
div#log-rhd-modal {
	min-height: 160px;
	font-size: 14px;
}
.rhd-pull-right{
	float: right;
}
.rhd-status-msg {
    padding: 5px;
}
.log-rhd-header{
    border-bottom: 1px solid #e9ecef;
}
#rhd-loading-bar {
  background-image: url(../images/loader.gif);
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0px;
  background-size: 40px 40px;
  display: none;
}

.log-rhd-header h2 {
    padding: 0px;
    margin: 14px;
    margin-left: 0px;
}
div#log-rhd-row, div#log-rhd-section {
    margin-bottom: 20px;
    margin-top: 15px;
}

div.rhd-success-label {
  padding: 10px;
  color: #fff;
  background-color: #28a745;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 350px;
  margin: 8px;
}

div.rhd-success-label:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  left: 18px;
  border: 10px solid transparent;
  border-right-color: #28a745;
}

div.rhd-error-label {
  padding: 10px;
  color: #fff;
  background-color: #DA362A;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 350px;
  margin: 8px;
}

div.rhd-error {
  padding: 10px;
  color: #fff;
  background-color: #DA362A;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 80%; 
  margin: 8px;
  font-size: 14px;
}
div.rhd-error-label:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  left: 18px;
  border: 10px solid transparent;
  border-right-color: #DA362A;
}
.copy-rhd-element { 
  text-align: right;
  float: right;
}
span.rhd-copied {
  margin-left: 7px;
  color: gray;
  font-size: 13px;
  font-style: italic;
  display: none;
}
.copied .rhd-copied {
  display: inline-block !important;
}
.rhd-about-us p , #rhd-help-tab p{ 
  margin: 0.5em 0;
}
.rhd-section h3 { 
  font-size: 1.5em; 
  text-transform: uppercase;
}
.copied-hide .rhd-copied{
  display: none !important;
}
.rhd-start-migration {
  float: right;
  margin-left: 14px !important;
}

#log-rhd-modal-1 .form-table th {
  width: 144px;
}
.rhd_destination_url { 
  margin-top: 0px;
}

 
.rhd-tree ul {
  margin-left: 20px;
}

.rhd-tree li {
  list-style-type: none;
  margin:10px;
  position: relative;
}

.rhd-tree li::before {
  content: "";
  position: absolute;
  top:-7px;
  left:-20px;
  border-left: 1px solid #ccc;
  border-bottom:1px solid #ccc;
  border-radius:0 0 0 0px;
  width:20px;
  height:15px;
}

.rhd-tree li::after {
  position:absolute;
  content:"";
  top:8px;
  left:-20px;
  border-left: 1px solid #ccc;
  border-top:1px solid #ccc;
  border-radius:0px 0 0 0;
  width:20px;
  height:100%;
}

.rhd-tree li:last-child::after  {
  display:none;
}

.rhd-tree li:last-child:before{
  border-radius: 0 0 0 5px;
}

ul.rhd-tree>li:first-child::before {
  display:none;
}

ul.rhd-tree>li:first-child::after {
  border-radius:5px 0 0 0;
}

.rhd-tree li a {
  border: 1px #ccc solid;
  border-radius: 5px;
  padding:2px 5px;
}

.rhd-tree li a:hover, .rhd-tree li a:hover+ul li a,
.rhd-tree li a:focus, .rhd-tree li a:focus+ul li a {
  background: #ccc; color: #000; border: 1px solid #000;
}

.rhd-tree li a:hover+ul li::after, .rhd-tree li a:focus+ul li::after,
.rhd-tree li a:hover+ul li::before, .rhd-tree li a:focus+ul li::before 
.rhd-tree li a:hover+ul::before, .rhd-tree li a:focus+ul::before 
.rhd-tree li a:hover+ul ul::before, .rhd-tree li a:focus+ul ul::before{
  border-color:  #000; /*connector color on hover*/
}


.rhd-tree  a.error {
  background-color: red;
  color: white;
}

.rhd-col {
  border-radius: 10px;
  -webkit-box-shadow: -1px -4px 26px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px -4px 26px -14px rgba(0,0,0,0.75);
  box-shadow: -1px -4px 26px -14px rgba(0,0,0,0.75);
  padding: 13px;
}
.tools_page_rhd-migration {
  background-color: #fff;
}
td.rhd-help-tr {
  padding-top: 4px !important;
}
.rhd-form-table{
  
}

.rhd-form-table, .rhd-form-table td, .rhd-form-table td p, .rhd-form-table th {
  font-size: 14px;
}
.rhd-form-table {
  border-collapse: collapse;
  margin-top: 0.5em;
  width: 100%;
  clear: both;
}

.rhd-form-table th {
  vertical-align: top;
  text-align: left;
  padding: 20px 10px 0px 0;
  width: 144px;
  line-height: 1.3;
  font-weight: 600;
  color: #1d2327;
  text-shadow: none;
}

.rhd-form-table td {
  margin-bottom: 9px;
  padding: 20px 16px 0px 0;
  line-height: 1.3;
  vertical-align: middle;
}

.rhd-migration-help-txt {
  font-weight: bold;  
  font-style: italic;
}
.rhd-page-title{
  font-weight: bold;
}

.tools_page_rhd-migration #wpbody-content {
  background: #383A46;
  padding-bottom: 0!important;
  margin: 0!important; 
}
.tools_page_rhd-migration  #wpcontent {
  padding: 0!important;
}
.tools_page_rhd-migration .nav-tab-wrapper {
  font-size: 23px;
  height: 56px;
  background: #262932;
  display: flex;
  padding: 0;
  align-items: center;
  margin: 0;
}

.tools_page_rhd-migration .nav-tab-wrapper ul {
  padding: 0 32px;
  display: flex;
  column-gap: 32px;
  height: 100%;
  margin: 0;
}

.tools_page_rhd-migration  .nav-tab {
  color: #fff;
  opacity: .5;
  border-top: 4px solid transparent!important;
  border-bottom: 4px solid transparent!important;
}
.tools_page_rhd-migration  .nav-tab-wrapper a {
  margin: 0;
  background: 0 0;
  border: none;
  padding: 0;
  font-weight: 500!important;
  align-items: center;
  display: inline-flex;
  height: 100%;
  box-sizing: border-box;
}
.tools_page_rhd-migration  .nav-tab-active {
  color: #fff !important;
  opacity: 1!important;
  border-bottom: 4px solid #27CC87 !important;
}

.tools_page_rhd-migration  .nav-tab-wrapper li {
  margin: 0;
  padding: 0;
}

.tools_page_rhd-migration  .wrap {
  margin: 0;
  padding: 0;
  overflow-x: auto!important;
  margin-top: 25px;
}

.rhd-action-form {
  margin: 0!important;
  border: 0!important;
  background-color: #f0f0f1;
  box-shadow: none;
  padding: 20px 32px;
  padding-bottom: 120px;
}
.tools_page_rhd-migration  .nav-tab:hover {
  opacity: 1;
  background: 0 0;
  color:#fff;
}
.tools_page_rhd-migration  .nav-tab:focus {
  background: none;
  color: #fff;
  opacity: inherit;
}

.tools_page_rhd-migration  .regular-text {
  background: #fff !important;
  border: 1px solid #CAD8EC !important;
  box-shadow: 0px 2px 2px rgba(182, 181, 204, 0.25) !important;
  border-radius: 6px;
  height: 40px;
}

.tools_page_rhd-migration  .regular-select{ 
  border: 1px solid #CAD8EC !important;
  box-shadow: 0px 2px 2px rgba(182, 181, 204, 0.25) !important;
  border-radius: 6px; 
}

.tools_page_rhd-migration  .regular-textarea{
  background: #fff !important;
  border: 1px solid #CAD8EC !important;
  box-shadow: 0px 2px 2px rgba(182, 181, 204, 0.25) !important;
  border-radius: 6px; 
}


.rhd-button {
  font-size: 15px !important;
  letter-spacing: 0.4px !important;
  border-radius: 6px !important;
  font-weight: 500 !important;
  display: inline-flex !important;
  align-items: center !important;
  padding: 0 24px !important;
  column-gap: 8px;
  margin: 0!important;
}

.rhd-button-lg {
  height: 46px !important;
}
.rhd-hide{
  display: none;
}

.rhd-tabs textarea[readonly] {
  width: 100%;
  height: 480px;
  font-family: Menlo,Monaco,monospace;
  font-size: 12px;
  margin: 0;
  background: #383A46;
  color: #fff;
  padding: 16px;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 2px 2px rgba(182, 181, 204, 0.25);
}

div#rhd-help-tab label {
  font-size: 15px; 
}